<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   Team Name:<%=" #{@rams["name"]}" %><br>

  Coach:<%=" #{@rams["coach"]}" %><br>

  Point Guard:<%=" #{@rams["pg"]}" %><br>
  Shooting Guard:<%=" #{@rams["sg"]}" %><br>
  Small Forward:<%=" #{@rams["sf"]}" %><br>
  Power Forward:<%=" #{@rams["pf"]}" %><br>
  Center:<%= " #{@rams["c"]}" %><br>


 </body>
</html>
