<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title><%=@team_name%></title>
 </head>
 <body>
    <h2>Team Name: <%=@team_name%></h2>
    <h3>Coach: <%=@coach%></h3>
    <p>Point Guard: <%=@pg%></p>
    <p>Shooting Guard: <%=@sg%></p>
    <p>Small Forward: <%=@sf%></p>
    <p>Power Forward: <%=@pf%></p>
    <p>Center: <%=@c%></p>

 </body>
</html>



 </body>
</html>


