<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
     <p><h1>Team Name: <%= @name %></h1></p>
     <p><h2>Coach: <%= @coach %></p>
     <p>Point Guard: <%= @pg %></p>
     <p>Shooting Guard: <%= @sg %></p>
     <p>Small Forward: <%= @sf %></p>
     <p>Power Forward: <%= @pf %></p>
     <p>Center: <%= @c %></h2></p>


 </body>
</html>


