<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <div>
     Team Name: <%= @data[:name] %>
     Coach: <%= @data[:coach] %>
     Point Guard: <%= @data[:pg] %>
     Shooting Guard: <%= @data[:sg] %>
     Small Forward: <%= @data[:sf] %>
     Power Forward: <%= @data[:pf] %>
     Center: <%= @data[:c] %>
     >
   </div>

 </body>
</html>
