<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Team Name: <%= @team %></h1>
 
 <p><b>Coach: <%= @coach %></b></p>
 
 <p><b>Point Guard: <%= @pg %></b></p>
 
 <p><b>Shooting Guard: <%= @sg %></b></p>
 
 <p><b>Small Forward: <%= @sf %></b></p>
 
 <p><b>Power Forward: <%= @pf %></b></p>
 
 <p><b>Center: <%= @c %></b></p>


 </body>
</html>


