<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Basketball Team! </h1>
   <p>Team Name: <%=@name.to_s%> </p>
   <p>Coach: <%=@coach.to_s%></p>
   <p>Point Guard: <%=@pg.to_s%></p>
   <p>Shooting Guard: <%=@sg.to_s%></p>
   <p>Small Forward: <%=@sf.to_s%></p>
   <p>Power Forward: <%=@pf.to_s%></p>
   <p>Center: <%=@c.to_s%></p>
 </body>
</html>


