<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1><strong>Team Name: <%= @name %></strong></h1>
   <h2><strong>Coach: <%= @coach %></strong></h2>
   <h2><strong>Point Guard: <%= @pg %></strong></h2>
   <h2><strong>Shooting Guard: <%= @sg %></strong></h2>
   <h2><strong>Small Forward: <%= @sf %></strong></h2>
   <h2><strong>Power Forward: <%= @pf %></strong></h2>
   <h2><strong>Center: <%= @c %></strong></h2>
 </body>
</html>
