<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h2>Team Name: <%= @info[:name] %></h2>
    <h3>Coach: <%= @info[:coach] %></h3>
    <h3>Point Guard: <%= @info[:pg] %></h3>
    <h3>Shooting Guard: <%= @info[:sg] %></h3>
    <h3>Power Forward: <%= @info[:pf] %></h3>
    <h3>Small Forward: <%= @info[:sf] %></h3>
    <h3>Center: <%= @info[:c] %></h3>
 </body>
</html>


