<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <h1>Team Name: <%= @info[:name] %></h1>
   <h2>Coach: <%= @info[:coach] %></h2>
   <h2>Point Guard: <%= @info[:pg] %></h2>
   <h2>Shooting Guard: <%= @info[:sg] %></h2>
   <h2>Power Forward: <%= @info[:pf] %></h2>
   <h2>Small Forward: <%= @info[:sf] %></h2>
   <h2>Center: <%= @info[:c] %></h2>
 </body>
</html>
