<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Basketball Team</h1>
     Team Name: <%= @team_name %><br/>
     Coach: <%= @coach %><br/>
     Point Guard: <%= @point_guard %><br/>
     Shooting Guard: <%= @shooting_guard %><br/>
     Small Forward: <%= @small_forward %><br/>
     Power Forward: <%= @power_forward %><br/>
     Center: <%= @center %><br/>
 </body>
</html>
