<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

 <h1>Team Name: <%=param[:team_name]%></h1>
 <h2>
 <p>Coach: <%=param[:coach]%></p>
 <p>Point Guard: <%=param[:point_guard]%></p>
 <p>Shooting Guard: <%=param[:shooting_guard]%></p>
 <p>Small Forward: <%=param[:small_forward]%></p>
 <p>Power Forward: <%=param[:power_forward]%></p>
 <p>Center: <%=param[:center]%></p>
</h2>

 </body>
</html>
